{{> header }}
<div class="container-fluid">
  <div class="event spacer">
        <h2>What would you like to do?</h2>
         <button type="submit" class="btn btn-lrg greenButton vol stackBtn" id="orgSubmit"><a href="view_all_opportunity" class="visit">view all opportunities</a></button>
         <button type="submit" class="btn btn-lrg greenButton vol stackBtn" id="orgSubmit"><a href="/submit_opportunity" class="visit">post an opportunity</a></button>
  </div>
</div>