{{> header }}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{title}}</h1>
            <h2 class="display-5">Please enter your User Name and Password</h2>
        </div>
        <div class="container">
            <div class="row">
            <div class="col>">
                <form method="POST" action="singin" class="needs-validation" novalidate>
                  <div class="form-group">
                        <label for="validationUserName">User name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="User name">
                        <div class="valid-feedback">
                                Looks good!
                              </div>
                    </div>
                    
                    <div class="form-group">
                            <label for="validationPassword">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <div class="valid-feedback">
                                    Looks good!
                                  </div>
                        </div>
                       <button type="submit" class="btn btn-primary" id="orgSubmit">Sign in</button>
 
                </form>
            </div>
        </div>

        </div>

    </div>
