{{> header }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button type="submit" class="btn btn-primary dispaynone" id="orgSubmit"><a href="view_all_opportunity" class="visit">View All opportunity</a></button>
        <div id="submit_form">
           
        <form method="POST" action="/submit_opportunity">
          <div class="form-group">
            <legend>Post an Opportunity:</legend>
            <div class="form-group">
              <label for="validationOrgname">Organization Name:</label>
              <input type="text" class="form-control" id="orgname" name="orgname" placeholder="Organization Name">
            </div>
            <div class="form-group">
              <label for="validationDate">Date</label>
              <input type="date" class="form-control" name="date">
            </div>
            <div class="form-group">
              <label for="validationOrgname">Number of Volunteers Needed:</label>
              <input type="number" class="form-control" name="numvol" placeholder="Number of Volunteers">
            </div>
            <div class="form-group"></div>
            <label for="addressLine1">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="City">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state">
              <option>AL</option>
              <option>AK</option>
              <option>AS</option>
              <option>AZ</option>
              <option>AR</option>
              <option>CA</option>
              <option>CO</option>
              <option>CT</option>
              <option>DE</option>
              <option>DC</option>
              <option>FL</option>
              <option>GA</option>
              <option>GU</option>
              <option>HI</option>
              <option>ID</option>
              <option>IL</option>
              <option>IN</option>
              <option>IA</option>
              <option>KS</option>
              <option>KY</option>
              <option>LA</option>
              <option>ME</option>
              <option>MD</option>
              <option>MH</option>
              <option>MA</option>
              <option>MI</option>
              <option>FM</option>
              <option>MN</option>
              <option>MS</option>
              <option>MO</option>
              <option>MT</option>
              <option>NE</option>
              <option>NV</option>
              <option>NH</option>
              <option>NJ</option>
              <option>NM</option>
              <option>NY</option>
              <option>NC</option>
              <option>ND</option>
              <option>MP</option>
              <option>OH</option>
              <option>OK</option>
              <option>OR</option>
              <option>PW</option>
              <option>PA</option>
              <option>PR</option>
              <option>RI</option>
              <option>SC</option>
              <option>SD</option>
              <option>TN</option>
              <option>TX</option>
              <option>UT</option>
              <option>VT</option>
              <option>VA</option>
              <option>VI</option>
              <option>WA</option>
              <option>WV</option>
              <option>WI</option>
              <option>WY</option>
            </select>
          </div>
          

          <div class="form-group">
            <label for="ZipCode">Zip Code</label>
            <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" id="description" name="description"></textarea>
          </div>

          <button type="submit" class="btn btn-primary" id="orgSubmit">Submit</button>
        </form>
      </div>
    </div>

    </form>
</div>
  </div>
</div>
</div>
</div>