/*#navbarNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;
    
}

.navbar-brand{
    font-family: 'Comfortaa', cursive;
    color: blue;
    
}*/

.section1{
    background: url("../img/teamwork.jpg");
    height: 750px;
    background-color: gray;
    background-size: cover;
    opacity: .9;
    background-position-y: 50%;  
    padding-top: 150px;
}

.layer {
    background-color: rgba(248, 247, 216, 0.548);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 650px;
    opacity: 0.3;
}

/* .section2 {
    height:750px;
    text-align: center;
    padding: 15px;
} */

.smallSection1{
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: center;
}

.vol{
    margin-right: 10px;
    background: limegreen;
    font-family: 'Comfortaa', cursive;
    
}

.welcome h1{
    color: blue;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.welcome p{
    display: flex;
    justify-content: center;
    color: black;
}

 #stuff{
    margin: auto;
    width: 50%;
    padding: 50px;
    margin-top: 120px;
    border-radius: 25px;
    background-color: white;
    background-size: 10%;
    opacity:.9
} 

/*.navbar{
    margin: auto;
    width: 100%;
    background-color:white;
    height: 100px;
}*/

body{
    font-family: 'Arimo', sans-serif;
}

.greenButton{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    box-shadow: 0 4px 2px -2px gray;
}

#bgimg{
    position: relative;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .search1{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.back{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.back h3{
    color: #ffbd4a;
}


 .event{
    background: lightgray;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
 }

  .collapsible {
    font-family: 'Comfortaa', cursive;
  }
   
 .test {
    display: inline-flex;
    justify-content: flex-start; 
 
}

.userWelcome{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.userEvent{
    background: lightgray;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.signUp{
    position: absolute;
    margin-right: 10px;
    background: limegreen;
    font-family: 'Comfortaa', cursive;
}

.volunteerButton{
    margin-right: 10px;
    background: limegreen;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    font-size: 18px;
    box-shadow: 0 4px 2px -2px #cccccc;
}


/* styles the navbar */
.navbar{
    margin: auto;
    width: 100%;
    background-color:white;
    height: 79px;

    
}
 
#site-name{
    font-family: sans-serif;
}

/* styles the bg image and the thin gray layer thats over it  */

#mainbg{
    background-image: url("/assets/img/teamwork.jpg");
    background-repeat: no-repeat;
    min-height: 675px;
    min-width:100%;
    background-position: 35% 70%; 
}

.layer {
    background-color: rgba(248, 247, 216, 0.548);
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    height: 675px;
    opacity: 0.1;
}

/* styles the welcome box on the homepage */
.btn-box{
    z-index: 10;
    text-align: center;
    width: 45%;
    border-radius: 25px;
    background-color: white;
    background-size: 10%;
    opacity:.9;
    min-width: 350px;
}

.holder{
    padding-top: 15%;
}

#find-btn{
    margin-right: 3%;
   
}

a { 
    color: inherit; 
    text-decoration: none;
   
}

a:hover 
{
    color: inherit;
    text-decoration:none; 
    cursor:pointer;  
}


.adjust-btn{
    margin-bottom: 5%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .collapsible {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: black;
    font-size: 20px;
  }

  .fas {
      margin-right: 1%;
      color: #ffbd4a;
  }

/* Map box styling on the view_all_opportunity page */
#mapBox{
	position: absolute;
	right: -260px;
	top: 50px;
	width: 260px;
	height: 400px;
	background: #333;
	opacity: 1;
	/* transition: opacity 0.3s linear 0s, right 0s linear 0s; */
    cursor: pointer;
  z-index: 99;
}

#mapWrapper{
    position: relative;
}

.dispaynone {
    display: none;
    }
    .visit{
        text-decoration: none;
        color: aliceblue;
    }
    .map {
        height: 450px;
        width: 100%;
      }
    
    #map {
        height: 450px;
        width: 100%;
      }
      #map2 {
        height: 450px;
        width: 100%;
      }